body {
    background-image: url("../images/codebkgd.jpg");
    /*background-color: black;*/
}

/* data table styles */
th {
    color: white !important;
}

thead th {
    color: #8a25c3 !important;
    text-align: center !important;
}

table {
    background: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #6D4285 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: #6D4285 !important;
}

/* remove transparency from header */
h1 {
    color: rgba(255,255,255,1) !important;
    text-align: center;
    padding-top: 5px;
    font-size: 1.5rem;
}

h2 button {
    font-size: 1.5rem !important;
}

/* match nav color to scheme */
#myNav {
    background-color: rgba(51, 9, 74, 0.7) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, 1.0) !important;   /* remove transparency */
}

.nav-item:hover {
    font-weight: bold;
}

/* page sub category styling (jumbotron/accordion) */
.btn-link {
    color: white;
    text-decoration: none;
}

.btn-link:hover {
    color: white;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.card-header {
    background-color: rgba(51, 9, 74, 0.7);
    color: white;
}

.card {
    background: rgba(51, 9, 74, 0.7);
}

.card-body {
    background: white !important;
}

.accordion {
    border-radius: unset !important;
}

.jumbotron {
    background: transparent;
    padding: .5rem 1rem;
}

/* custom button color */
.btn-purple {
    color: white;
    background-color: #6D4285 !important;
    border: 1px solid white;
    height: 30px;
    padding: 3px 7px !important;
    vertical-align: middle;
    max-width: 100px;
}

/* linkedIn link button styles */
.btn-linkedin {
    background: url("../images/linkedin.png") center !important;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    padding: 5px;
}

.btn-git {
    background: url("../images/github.png") center !important;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    padding: 5px;
    margin-right: 5px;
}

@media (max-width: 576px) {
    .btn-purple, .btn-git {
        margin-bottom: .5em !important;
    }
    .btn-purple {
        margin-left: 0 !important;
    }
}

#resume {
    border-radius: unset !important;
    margin: 0 5px;
}

/* sub category text color */
div {
    color: rgb(75, 13, 109);
}

/* form font weight */
label {
    font-weight: bold;
}

/* remove transparency from small header */
h3 {
    color: rgba(255,255,255,1) !important;
}

#intro {
    background-color: rgba(51, 9, 74, 0.9);
    color: white;
    margin-top: 1em;
    box-shadow: 0 .25rem .5rem rgba(255, 255, 255, 0.25);
}

.whiteShadow {
    box-shadow: 0 .25rem .5rem rgba(255, 255, 255, 0.25);
}

#intro p {
    padding: 1em;
}

#RSBhook {
    color: black;
}

/* login box style and shape */
#login {
    color: white;
    width: 390px;
    margin-top: 75px;
    margin-bottom: 75px;
}

#loginSubmit {
    width: 225px !important;
    padding: 9px !important;
    line-height: 1;
}

/* picture fill width */
.certs {
    width: 100%;
}

/* more datatable styles for proper font colors/weight --override datatable defaults */

#signers_wrapper {
    font-weight: normal;
}

#signers_filter > label {
    font-weight: normal;
    color: white !important;
}

#signers_info {
    font-weight: normal;
    color: white !important;
}

#signers_length > label {
    font-weight: normal;
    color: white !important;
}
